html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.3;
  font-family: $font-roboto;
  font-weight: 400;
  color: $color-white;
  background-color: $color-white;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.container {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 1240px;
}

.main {
  flex: 1 0 auto;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: transparent;
}
