$color-white: #fff;
$color-alabaster: #fafafa;
$color-black: #000;
$color-woodsmoke: #131417;
$color-shark: #252830;
$color-burnt-sienna: #eb5757;
$color-jaffa: #f2994a;

$font-roboto: 'Roboto', sans-serif;
